h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  margin: 40px 20px 40px 20px;
}

.menu__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.menu__list {
  margin: 0;
  padding: 0;
  display: flex;
}
.menu__item {
  display: inline-block;
  flex-basis: calc(100% / 3);
  text-align: center;
}
.menu__link {
  display: inline-block;
  text-decoration: none;
  color: #f03000;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
}
.menu__link:hover {
  background-color: #f03000;
  color: white;
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .menu__logo {
    margin-bottom: 0;
    padding-left: 20px;
  }
  .menu__list {
    display: inline-block;
  }
}
@media screen and (min-width: 960px) {
  .menu {
    margin-bottom: 40px;
  }
}

.gallery {
  margin: 30px auto 40px auto;
  color: white;
}
.gallery__heading--section {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
}
.gallery__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(240px, 1fr) minmax(150px, 200px) minmax(150px, 200px);
  gap: 20px 20px;
}
.gallery__item, .gallery__item2 {
  padding: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.gallery__item:first-child {
  background-image: url(/images/palmy.png);
  background-position: center center;
}
.gallery__item:nth-child(2) {
  background-image: url(/images/jezero2.png);
  background-position: center center;
}
.gallery__item:nth-child(3) {
  background-image: url(/images/nakole.png);
  background-position: center bottom;
}
.gallery__item2:first-child {
  background-image: url(/images/lodicka.png);
  background-position: center center;
}
.gallery__item2:nth-child(2) {
  background-image: url(/images/podkova.png);
  background-position: center center;
}
.gallery__item2:nth-child(3) {
  background-image: url(/images/zatoka.png);
  background-position: center bottom;
}
.gallery__price {
  display: inline-block;
  padding: 10px;
  background-color: #f03000;
}
.gallery__heading--big {
  font-size: 28px;
  margin-bottom: 20px;
}
.gallery__heading--small {
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .gallery__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(240px, 1fr) minmax(150px, 200px);
  }
  .gallery__item:first-child {
    background-image: url(/images/palmy@2x.png);
    grid-column: 1/-1;
  }
  .gallery__item2:first-child {
    background-image: url(/images/lodicka@2x.png);
    grid-column: 1/-1;
  }
}
@media screen and (min-width: 960px) {
  .gallery__grid {
    grid-template-columns: auto auto;
    grid-template-rows: minmax(180px, 1fr) minmax(180px, 1fr);
  }
  .gallery__item:first-child {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .gallery__item2:first-child {
    grid-column: -1/-2;
    grid-row: 1/3;
  }
}

.advantages {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4;
  gap: 10px;
}
.advantages__item {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.advantages__picture {
  padding-right: 30px;
  padding-left: 10px;
  align-self: flex-start;
}
.advantages__picture--smaller {
  padding-right: 40px;
}
.advantages__picture--bigger {
  padding-right: 20px;
}
.advantages__text {
  flex-basis: 80%;
  font-size: 16px;
}
.advantages__heading {
  color: #f03000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
}
.advantages__description {
  margin: 0;
}

.news {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3;
  gap: 20px;
}
.news__heading--section {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.news__item {
  background-color: #f0f0f0;
  padding: 20px;
  font-size: 16px;
}
.news__date {
  color: #888888;
}
.news__heading {
  color: #f03000;
  margin-top: 10px;
  margin-bottom: 10px;
}
.news__description {
  margin: 0;
}

.footer {
  margin-top: 40px;
  padding: 20px;
  background-color: #444444;
  color: white;
  text-align: center;
}/*# sourceMappingURL=style.css.map */